<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>{{ page.title }}</title>
  <link rel="alternate" type="application/rss+xml" page.title }}="{{ site.page.title }} }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  {% if site.google_analytics %} {% include google_analytics.html %} {% endif %}
  <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
</head>
